#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    --main-text-color: #000000;
    background-color: white;
    color: var(--main-text-color);
    /* ここでテキストカラーを明示的に設定 */
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    color: var(--main-text-color);
    /* ここでテキストカラーを明示的に設定 */
}

#edit {
    width: 40px;
    height: auto;
}

#start {
    width: 40px;
    height: auto;
}

#goal {
    width: 40px;
    height: auto;
}

#stations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--main-text-color);
    /* ここでテキストカラーを明示的に設定 */
}

.station-container {
    display: flex;
    justify-content: space-between;
    /* 両端に寄せる */
    align-items: center;
    margin: 0.5rem 0;
    color: var(--main-text-color);
    padding: auto;
    /* ここでテキストカラーを明示的に設定 */
}

.station-item,
.station-drop-area {
    padding: 1rem;
    margin: 0 1rem;
    cursor: pointer;
    display: inline-block;
    color: var(--main-text-color);
    /* ここでテキストカラーを明示的に設定 */
}

.station-item.dragging {
    opacity: 0.5;
}

.station-drop-area {
    border-radius: 0;
    /* 四角 */
    color: var(--main-text-color);
    /* ここでテキストカラーを明示的に設定 */
}

.station-drop-area.over {
    border-color: #ffab40;
    background-color: #ffe0b2;
}